*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family:-apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
}
body{
    background-color: rgb(228, 228, 228);
}
@media screen and (max-width: 1400px) {
    .one-nickName{
        display: none;
    }
    .one-avatar{
        display: none;
    }

}
.show-container{
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-color: white;
}
.show-nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    white-space: nowrap;
    justify-content:space-around;
    align-items: center;
    background-color: white;
}
.show-nav li{
    flex-grow:1; 
    text-align: center;
    line-height: 50px;
    height: 100%;
    width: auto;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.show-nav{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(231, 225, 173);
}
.show-body{
    width: 100%;
    height: auto;
}
.show-one{
    position: relative;
    width: 100%;
    height: 120px;
    cursor: pointer;
    border-bottom: 1px solid rgb(235, 230, 230);
}
.show-one:hover{
    background-color: rgb(250, 246, 246);
}
.one-title{
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    top: 20px;
    left: 30px;
    font-size: 18px;
    text-overflow: ellipsis;
}
.one-avatar{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 11px;
    right: 130px;
    border-radius: 50%;
}
.one-nickName{
    position: absolute;
    width: 120px;
    top: 20px;
    right: 10px;
    font-size: 12px;
    text-align: center;
    color: rgb(148, 148, 148);
}
.one-intro{
    position: absolute;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: 30px;
    bottom: 30px;
    overflow: hidden;
    color: rgb(148, 145, 145);
}
.but-heightlight{
    background-color: cornflowerblue;
}
.rollup{
    display: none;
    position:fixed;
    left: 50px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aliceblue
}
.rollup img{
    position: absolute;
    left: 15px;
    top: 15px;
    margin: auto;
    width: 30px;
    height: 30px;
}